.page {
  padding: 0;
  font-family: "Cabinet Grotesk";
  background: none;
}

#root {
  padding: 32px 40px 8px;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
  width: 1360px;
  height: 735px;
}

.cards__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}
