.header {
  display: flex;
  align-items: center;
  padding-bottom: 28px;
  width: 1360px;
}

.header__logo {
  margin-right: 24px;
}

.header__logo:hover {
  opacity: 0.6;
  cursor: pointer;
}

.header__user-link {
  text-decoration: none;
  color: inherit;
  display: flex;
}

.header__date-and-location {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.header__add-clothes-btn {
  margin: 0 20px 0 0;
  padding: 0;
  border: none;
  color: rgba(0, 0, 0, 1);
  background: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  display: flex;
  flex-direction: row;
}

.header__add-clothes-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.header__username:hover {
  opacity: 0.6;
  cursor: pointer;
}
