.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.modal_opened {
  opacity: 1;
  pointer-events: all;
}

.modal__content {
  position: relative;
  background: white;
  border-radius: 16px;
  padding: 32px;
  max-width: 90%;
  width: 496px;
  height: 436px;
}

.modal__content_type_image {
  max-width: 498px;
  padding: 0;
  background: transparent;
}

.modal__close {
  position: absolute;
  bottom: 40px;
  right: -4;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 20px;
  height: 20px;
  z-index: 1001;
}

.modal__close-btn,
.modal__close-btn_item {
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}

.modal__close:hover .modal__close-btn,
.modal__close:hover .modal__close-btn_item {
  opacity: 0.6;
}

.modal__image {
  width: 498px;
  height: 498px;
  border-radius: 16px 16px 0 0;
  display: block;
  object-fit: cover;
}

.modal__footer {
  background: white;
  padding: 20px;
  border-radius: 0 0 16px 16px;
  max-height: 112px;
}

.modal__caption {
  margin: 0 0 12px 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;

  color: rgba(0, 0, 0, 1);
}

.modal__weather {
  margin: 0 0 16px 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  color: rgba(0, 0, 0, 1);
}

.modal__delete {
  width: 98px;
  height: 13px;
  padding: 0;
  color: #ff4d4d;
  background: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  transition: background 0.3s ease;
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 40px;
  bottom: -100px;
}

.modal__delete:hover {
  opacity: 0.6;
}
