.footer__container {
  width: 1360px;
  display: flex;
  justify-content: space-between;
  font-family: Cabinet Grotesk;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
}

.footer__description {
}
